.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.myModalContent {
  width: 30%;
  padding: 48px 50px 43px;
  background: #262628;
  min-width: 250px;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
