svg {
  z-index: 500;
  background: transparent;
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
circle {
  fill: transparent;
  stroke: #e75626;

  stroke-width: 2px;
  stroke-dasharray: 1540;
  stroke-dashoffset: 1540;
  animation: clock-animation 10s linear infinite;
  transform: rotate(-90deg);
  transform-origin: center;
}
@keyframes clock-animation {
  0% {
    stroke-dashoffset: 1540;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
