@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir-next-cyr");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171719;
  font-family: "Bebas Neue", cursive;
}
.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
